:root {
  --spacing: 24px;
  --mincolwidth: 180px;
  --green: #03c04a;
}

body {
  background-color: #0d0c0a;
  color: white;
  font-family: "Poppins", sans-serif;
  margin-bottom: 70px;
}

.project-logo {
  margin-bottom: 10px;
}

.project-logo img {
  max-width: 250px;
  max-height: 250px;
}

button {
  text-align: center;
  padding: 0.3em 1em;
  box-sizing: border-box;
  border: solid transparent;
  font-family: inherit;
  color: white;
  background-color: #03c04a;
}

button:hover {
  background-color: #29f678;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hide {
  display: none;
}

input {
  font-size: 24px;
  outline: none;
  vertical-align: middle;
  box-sizing: border-box;
}
input:focus {
  border: 3px solid #555;
}

.search-results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--mincolwidth), 1fr));
  gap: 15px;
}

.tracks-results {
  grid-column: 1/-3;
}

.albums-results {
  grid-column: 1/-1;
}

.artists-results {
  grid-column: 1/-1;
}

.albums {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--mincolwidth), 1fr));
  gap: 15px;
  grid-column: 1/-1;
}

.artists {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--mincolwidth), 1fr));
  gap: 15px;
  grid-column: 1/-1;
}

.card {
  background-color: rgb(41, 41, 41);
  box-sizing: border-box;
  position: relative;
  isolation: isolate;
  padding: 10px;
  width: 100%;
}

.card img {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.song-card {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: [first] 50px [mid] 4fr [last] minmax(120px, 1fr);
  gap: 15px;
  width: 100%;
  font-size: 14px;
  padding: 5px;
  margin: 5px;
}

.song-card:hover {
  background-color: #a9a9a9;
}

.song-card .card-body {
  display: grid;
  grid-template:
    "title title"
    "artist" / auto 1fr;
}

.song-card .card-title {
  grid-area: "title";
}

.song-card .card-artist {
  grid-area: "artist";
}

.song-card .card-footer {
  grid-column: last;
  justify-content: end;
}
.song-card img {
  grid-area: "image";
  height: auto;
  width: 100%;
  margin-right: 10px;
}
.card-image {
  position: relative;
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.card-button {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 0.3s ease;
}

.card-button:hover {
  opacity: 1;
}

.playbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  bottom: 0px;
  width: 100%;
  height: 110px;
  background-color: #0d0c0a;
  border-top: 3px solid white;
  padding: 10px;
}
.info-div{
  display: flex;
  justify-content: flex-start;
  width: 30%;
}
.controls-div {
  width: 40%;
}
.volume-div{
  display: flex;
  justify-content: flex-end;
  width: 30%;
}

.song-info {
  position: relative;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  text-transform: none;
  justify-content: center;
  align-items: center;
}

.song-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.song-title{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
}
.song-artist{
  font-size: 12px;
}

.album-art {
  height: 64px;
  margin-right: 20px;
}

.playbar-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.playbar-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-flow: nowrap;
}
.playbar-buttons button{
  background: none;
  border: none;
  fill: var(--green);
}

.playbar-buttons button:hover{
  fill: var(--green);
}

.progress-wrapper {
  display: flex;
  width: 100%;
}

.progress-bar {
  height: 15px;
  width: 90%;
  background-color: gray;
  border-radius: 10px;
  margin: 15px;
}

.current-progress {
  background-color: var(--green);
}

